@import './core/_component';

.addQuestion {
    margin: 1rem 0;

    h2 {
        margin: 0 0 2vh;
        color: $c--v-dark-grey;
    }

    button {
        margin: 2vh 0 0;
        background-color: $c--m-blue;
        border-radius: 0.4rem;
        padding: 1rem 2rem;
        color: $c--white;
        font-size: 1.6rem;
        position: relative;
        transition: all 0.35s ease-out;

        &:hover {
            background-color: $c--b-blue;
        }
    }
}
