@import './core/_component';

.adminCard {
    margin: 1rem 0;

    &.evenPad {
        padding: 6vh 4vw 6vh;
    }

    h2, h3 {
        font-size: 2.6rem;
        color: $c--v-dark-grey;
        margin: 0 0 2.4rem;
        border-bottom: 1px solid lighten($c--light-grey, 24);
    }
}

.sidebar {
    padding-right: colPercentage(1, '0.8rem', '0');
    margin-right: colPercentage(1, '0', '0.8rem');
    border-right: 1px solid lighten($c--light-grey, 24);
    height: 100%;

    @include b--md {
        padding-right: 0;
        margin-right: 0;
        border: 0;
        margin: 0 0 8rem;
    }
}

.pollButton {
    background-color: $c--m-blue;
    color: $c--white;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0.8rem;
        transform: translateY(-50%);
        display: block;
        height: 2rem;
        width: 2rem;
    }

    &.closePoll {
        padding: 0.6rem 6rem 0.6rem 1rem;
        margin: 0;
        border-radius: 0.8rem;
        background-color: $c--error-red;
        border-radius: 3rem;
        display: inline-block;

        &:after {
            background: no-repeat url('../../images/icons/iconCloseCircled.png') center / contain;
        }

        &:hover {
            opacity: 0.85;
        }
    }
}

.pollText {
    cursor: pointer;
    opacity: 0.6;
    color: $c--v-dark-grey;
    transition: all 0.35s ease-out;
    user-select: none;
    padding: 0 0 1.4rem 3rem;
    position: relative;

    &:before {
        content: '';
        border-radius: 50%;
        height: 1.6rem;
        width: 1.6rem;
        border: 1px solid $c--m-blue;
        background: no-repeat url('../../images/icons/iconArrow.png') center / auto 50%;
        position: absolute;
        top: -0.2rem;
        left: 0;
    }

    &:hover {
        opacity: 0.85;
        color: $c--m-blue;
    }

    &.active {
        opacity: 1;
        color: $c--m-blue;
    }

    p {
        font-size: 1.4rem;
        margin: 0;
    }
}

.moderationContainer {
    position: absolute;
    top: 0;
    right: 0;
}

.questionNavigation {
    margin: 0 0 4rem;
    padding: 0 0 2rem;
    border-bottom: 1px solid lighten($c--light-grey, 24);

    @include b--md {
        border-bottom: 0;
    }

    .pollButton {
        width: auto;
    }
}

.questionTitle {
    color: $c--black;
    font-family: $f--heading;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 0.8rem;
}

.questionInfo {
    margin: 0 0 2.4rem;

    p:last-of-type {
        margin: 0;
    }
}

.answerList {
    padding: 2rem 0 0;
    border-top: 1px solid lighten($c--light-grey, 24);
}

.answer {
    text-align: center;
    font-size: 1.6rem;
    margin: 0 0 1.2rem;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($c--m-blue, 0.1);
    border-radius: 0.4rem;
    padding: 1.4rem 1rem;

    &:nth-child(even){
        background-color: lighten($c--light-grey, 28);
    }

    p {
        color: $c--v-dark-grey;
        margin: 0;
    }
}


.votes span {
    color: $c--error-red;
}