@import './core/_component';


.agendaList {
    margin: 1rem 0;
}

.item {
    background-color: $c--white;
    border-radius: 2rem;
    position: relative;
    margin: 0 0 0.8rem;
    padding: 4rem;

    @include b--sm {
        margin: 5rem 0 0;
        padding: 6vh 4vw 2vh;
    }

    &:last-of-type {
        margin-bottom: 3.4rem;
    }

    p {
        color: $c--v-dark-grey;

        @include b--sm {
            font-size: 3vw;
        }

        &:last-of-type {
            margin: 0;
        }
    }
    
    .title, .time p {
        @include b--sm {
            font-size: 4vw;
        }
    }
}

.time {
    padding: 0.4vh 2vw;
    border-radius: 2rem;
    text-align: center;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    background-color: $c--m-blue;
    display: inline-block;
    margin: 0 0 1.2rem;
    user-select: none;

    @include b--sm {
        position: absolute;
        top: -1.6vh;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
    }

    p {
        color: $c--white;
    }
}

.title {
    font-weight: 700;
    margin: 0 0 0.4rem;
    color: $c--v-dark-grey;
}

.presenter {
    font-size: 2rem;
    margin: 0 0 2.4rem;

    @include b--sm {
        font-size: 3vw;
    }
}

small {
    color: $c--m-blue;
    font-weight: 600;
    margin: 0 0 0.4rem;
    display: block;
}