@import './core/_component';

.questionContainer {
    position: relative;
    margin: 1rem 0;

    @include b--sm {
        margin: 4rem 0;
        padding-bottom: 4vh;
    }

    &.noPad {
        padding: 4rem;

        @include b--sm {
            padding: 2vh 4vw;
        }
    }

    p {
        color: $c--v-dark-grey;
    }

    button {
        background-color: $c--m-blue;
        position: absolute;
        right: 4rem;
        bottom: -2rem;
        border-radius: 4rem;
        padding: 1rem 4rem;
        transition: background-color 0.35s ease-out;
        text-transform: uppercase;

        &:hover {
            background-color: $c--b-blue;
        }

        @include b--sm {
            right: unset;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.afterText {
    margin: 0;
}
