@import './core/_component';

.speakerName {
    background-color: $c--m-blue;
    color: $c--white;
    opacity: 0.6;
    position: relative;

    &:hover {
        opacity: 0.85;
    }

    &.currentSpeaker {
        opacity: 1;

        &:after {
            background: no-repeat url('../../images/icons/iconCheckCircled.png') center / contain;
        }
    }

    &.lessPad {
        padding: 0.6rem 1rem;
        margin: 0 0 1.2rem;
        border-radius: 3rem;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0.8rem;
        transform: translateY(-50%);
        background: no-repeat url('../../images/icons/iconArrowCircled.png') center / contain;
        display: block;
        height: 2rem;
        width: 2rem;
    }
}