@import './core/_component';

footer {
    padding: 4vh 0 6vh;
    border-radius: 4vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $c--b-blue;
    display: none;

    @include b--sm {
        display: block;
    }

    img {
        max-width: 30%;
        margin: 0 auto;
        display: block;
    }
}