@import './core/_component';

header {
    position: relative;
    padding: 6vh 0 4vh;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: $c--b-blue;
    margin: 1rem 0;
    height: calc(100vh - 2rem);
    overflow: hidden;

    a, .button {
        user-select: none;
    }

    > div, > div > div {
        height: 100%;   
    }

    @include b--sm {
        border-bottom-left-radius: 4vw;
        border-bottom-right-radius: 4vw;
        border-top-right-radius: 0;
        height: auto;
        margin: 0;
    }

    &:before {
        content: '';
        background-repeat: no-repeat;
        background-image: url('../../images/ui/uiWaveBG.png');
        background-position: top center;
        background-size: 100% 10rem;
        height: 100%;
        width: 100%;
        position: absolute;
        top: -2rem;
        left: 0;
    }

    h1 {
        font-size: 5rem;
        color: $c--white;

        @include b--sm {
            padding: 0 10rem 0 0;
        }

        &.noPad {
            padding: 0;
        }
    }
}

.currentSpeaker {
    background-color: $c--white;
    display: inline-block;
    border-radius: 4rem;
    padding: 1vh 2vh;
    margin: 2rem 0 0;
    user-select: none;

    p {
        color: $c--m-blue;
        font-size: 1.2rem;
        margin: 0;

        @include b--sm {
            font-size: 3vw;
        }
    }
}

.homeIcon, .logoutIcon {
    position: absolute;
    top: 0.4rem;
    height: 3rem;
    width: 3rem;
    margin: 0;
    cursor: pointer;
    display: none;

    @include b--sm {
        display: block;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }
}
.homeIcon {
    right: 0.8rem;
}
.logoutIcon {
    right: 5.4rem
}


.desktopNav {
    display: block;
    width: 100%;
    padding-top: 4rem;

    @include b--sm {
        display: none;
    }

    a, .button {
        background-color: $c--m-blue;
        display: block;
        width: 100%;
        border-radius: 3rem;
        padding: 0.6rem 1rem;
        color: $c--white;
        font-size: 1.6rem;
        position: relative;
        transition: opacity 0.35s ease-out;
        margin: 0 0 1.2rem;
        cursor: pointer;

        &:last-of-type {
            margin: 0;
        }

        &:hover {
            opacity: 0.85;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0.8rem;
            transform: translateY(-50%);
            background: no-repeat url('../../images/icons/iconArrowCircled.png') center / contain;
            display: block;
            height: 2rem;
            width: 2rem;
        }

        &.add:after {
            background: no-repeat url('../../images/icons/iconAddCircled.png') center / contain;
        }
    }

    .button:last-of-type {
        margin: 1.2rem 0 0;
    }
}
