@import './core/_component';

.linkList {
    padding: 4vh 0;

    a {
        display: block;
        margin: 0 0 1.4rem;
        background-color: $c--white;
        border-radius: 8px;
        color: $c--v-dark-grey;
        padding: 2rem 6rem 2rem 1.4rem;
        position: relative;

        &:last-of-type {
            margin: 0;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 1.4rem;
            transform: translateY(-50%);
            height: 2rem;
            width: 2rem;
            background: no-repeat url('../../images/icons/iconArrow.png') right / contain;
        }

        &.locked:after {
            background: no-repeat url('../../images/icons/iconLock.png') right / contain;
        }
    }
}