@import './core/_component';

.formContainer {
    background-color: $c--white;
    border-radius: 12px;
    padding: 4vh 4vw 4vh;
    margin: 6vh 0;

    h3 {
        color: $c--m-blue;
        margin: 0 0 4vw;
    }

    button {
        background-color: $c--m-blue;
    }
}