@import './core/_component';

.presentation {
    height: 100vh;

    > div, > div > div {
        height: 100%;
    }

    .fullPage {
        height: calc(100vh - 2rem);
        width: calc(100vw - 2rem);
        margin: 1rem;
        padding: 6rem;
    }

    h1 {
        font-size: 4rem;
        color: $c--v-dark-grey;
    }
    h2 {
        font-size: 2rem;
        color: $c--dark-grey;
    }
}

.question {
    margin: 0 0 6rem;
}

svg text {
    font-family: $f--body;
    font-size: 1.4rem;
    line-height: 1.2;
}

.sidebar {
    height: 100%;

    h3 {
        text-align: center;
        color: $c--v-dark-grey;
    }
}

.answerList {
    justify-content: space-around;
    margin-top: 1.6rem;
}

.answer {
    flex: 1 0;
    text-align: center;
    font-size: 1.6rem;
    color: $c--v-dark-grey;
    margin: 2.4rem 0 0;
    user-select: none;

    span {
        color: $c--m-blue;
        font-size: 4rem;
        display: block;
        margin: 0 0 1.4rem;
    }
}

.moderatedQuestions h3 {
    margin: 0 0 4rem;
}
.moderatedQuestions {
    height: 100%;
}

.questionList {
    max-height: calc(100% - 3rem);
    overflow: auto;

    .question {
        border-radius: 0.8rem;
        background-color: lighten($c--light-grey, 28);
        padding: 1.6rem 2rem;
        margin: 0 0 2.4rem;
    
        p {
            font-size: 1.4rem;
            line-height: 1.4;
            color: $c--v-dark-grey;
            margin: 0;
        }
    }
}
