@import './core/_component';

.moderationContainer {
    position: absolute;
    top: 1.4rem;
    right: 2.4rem;
    user-select: none;

    p {
        margin: 0 1.2rem 0 0;
        color: lighten($c--light-grey, 16);
    }
}

.moderationToggle {
    background-color: $c--b-blue;
    width: 4rem;
    height: 2rem;
    position: relative;
    border-radius: 0.4rem;
    transition: background-color 0.35s ease-out;

    &.moderationOn {
        background-color: $c--m-blue;

        .toggleBar {
            left: calc(100% - 2rem);
        }
    }

    &.moderationOff {
        background-color: lighten($c--light-grey, 24);

        .toggleBar {
            left: 0;
        }
    }
    
}

.toggleBar {
    height: 2rem;
    width: 2rem;
    background-color: $c--white;
    border: 1px solid $c--light-grey;
    display: block;
    position: absolute;
    left: 0;
    transition: left 0.35s ease-out;
    border-radius: 0.4rem;
}