@import './core/_component';

.qaList {
    margin: 1rem 0;
    
    @include b--sm {
        margin: 5rem 0;
    }
}

.questionContainer {
    position: relative;

    &.closed {
        background-image: url('../../images/icons/iconClosed.png');
        background-repeat: no-repeat;
        background-size: 60% auto;
        background-position: 50% 60%;
    }
}

.backButton {
    color: $c--m-blue;
    background-color: $c--white;
    border-radius: 20px;
    padding: 1vh 2vw;
    text-transform: uppercase;
    width: 40%;
    display: block;
    text-align: center;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.afterText {
    font-size: 7vw;
    color: $c--dark-grey;
    text-align: center;
    margin: 0 0 6vh;
}

.answerCard {
    background-color: $c--white;
    border-radius: 12px;
    margin: 0 0 5rem;
    padding: 4rem;
    position: relative;
    flex: 1 0 50%;
    max-width: calc(50% - 1.4rem);

    @include b--sm {
        padding: 2vh 4vw 6vh;
        margin: 5rem 0 0;
        max-width: initial;
    }

    &:first-of-type {
        margin-top: 0;
    }

    p {
        color: $c--v-dark-grey;
        margin: 0;
    }

    button {
        position: absolute;
        bottom: -2rem;
        right: 2rem;
        overflow: hidden;
        text-transform: uppercase;
        color: $c--white;
        margin: 0;
        border-radius: 4rem;
        background-color: $c--m-blue;
        padding: 1rem 4rem;
        transition: all 0.35s ease-out;

        @include b--sm {
            width: 40%;
            bottom: -1.6rem;
            left: 50%;
            transform: translateX(-50%);
            padding: 2vw 6vw;
        }

        &:hover {
            background-color: $c--b-blue;
        }
    }
}

.theQuestion {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;

    @include b--sm {
        display: block;
    }
}

.postQuestion {
    margin: 12vh 0 0;
}

.questionContent {
    margin: 0 0 4rem;

    h2 {
        margin: 0 0 1vh;
    }
    p {
        margin: 0;
        color: $c--v-dark-grey;
    }

    &.noPad {
        padding: 4rem;

        @include b--sm {
            padding: 2vh 4vw;
        }
    }
}