@import './core/_component';

.speakerList {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include b--sm {
        display: block;
    }
}

.speaker {
    position: relative;
    margin: 10rem 0 0;
    max-width: calc(50% - 1rem);

    @include b--sm {
        margin: 16vh 0 0;
        max-width: initial;
    }
}

.image, .gradient {
    width: 40%;
    min-width: 2rem;
    min-height: 2rem;
    max-width: 30%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -12vh;
    left: 50%;
    transform: translateX(-50%);

    @include b--sm {
        max-width: 60%;
    }

    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        padding-top: 100%;
        height: 0;
    }

    .imgHolder {
        border-radius: 50%;
        overflow: hidden;
        height: calc(100% - 2.4rem);
        width: calc(100% - 2.4rem);
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
    }

    img {
        height: 100%;
    }

}

.text {
    background-color: $c--white;
    border-radius: 2rem;
    padding: 6rem 4rem 4rem;

    @include b--sm {
        padding: 8vh 4vw 2vh;
    }

    &:last-of-type {
        margin-bottom: 2.4rem;

        @include b--sm {
            margin-bottom: 4vh;
        }
    }

    h2 {
        color: $c--v-dark-grey;

        @include b--sm {
            font-size: 6vw;
        }
    }

    p {
        color: $c--v-dark-grey;
        margin: 0 0 0.4rem;
    }

    .role {
        color: $c--m-blue;
        font-weight: 600;
        margin: 0 0 2.4rem;

        @include b--sm {
            font-size: 3vw;
        }
    }
}


.gradient {
    @include linearGradient($c--d-magenta, $c--b-blue);
    z-index: -1;
}