@import './_variables';
@import './_mixins';
@import './_utility';
@import './_typography';

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:focus {
        outline: none;
    }
}

html, body {
    margin: 0;
    padding: 0;
	font-size: 10px;
    line-height: 1;
    min-height: 100vh;
}


body {
    background-color: rgba($c--black, 0.2);
}
main {
    padding: 8rem 0 15rem;
	background-color: $c--white;
}

#root, .app {
    min-height: 100vh;
}