
@mixin baseCol {
	padding-left: 8px;
	padding-right: 8px;
	position: relative;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


// Cols
@for $i from 1 through $g--cols {
	$width: $i / $g--cols;
	.g--#{$i} {
		width: percentage($width);
		@include baseCol;
	}
}

@include b--lg {
	@for $i from 1 through $g--cols {
		$width: $i / $g--cols;
		.g--lg-#{$i} {
			width: percentage($width);
			@include baseCol;
		}
	}
}

@include b--md {
	@for $i from 1 through $g--cols {
		$width: $i / $g--cols;
		.g--md-#{$i} {
			width: percentage($width);
			@include baseCol;
		}
	}
}

@include b--sm {
	@for $i from 1 through $g--cols {
		$width: $i / $g--cols;
		.g--sm-#{$i} {
			width: percentage($width);
			@include baseCol;
		}
	}
}


// Offset
@for $i from 0 through $g--cols {
	.offset--#{$i} {
		margin-left: percentage($i / $g--cols);
	}
}
@include b--lg {
	@for $i from 0 through $g--cols {
		.offset--lg-#{$i} {
			margin-left: percentage($i / $g--cols);
		}
	}
}
@include b--md {
	@for $i from 0 through $g--cols {
		.offset--md-#{$i} {
			margin-left: percentage($i / $g--cols);
		}
	}
}
@include b--sm {
	@for $i from 0 through $g--cols {
		.offset--sm-#{$i} {
			margin-left: percentage($i / $g--cols);
		}
	}
}



@function colPercentage($colWidth, $add, $remove) {
	$calc: percentage($colWidth / $g--cols);
	$add: unquote($add);
	$remove: unquote($remove);

	@if($add != '0'){
		$calc: $calc '+' $add;
	}
	@if($remove != '0'){
		$calc: $calc '-' $remove;
	}

	@return calc(#{$calc});
}



@function first($list){
	@return nth($list, 1);
}
@function last($list){
	@return nth($list, length($list));
}

@mixin linearGradient($colors...){
	$i: length($colors);

	@if $i > 1 {
		$base: 0;
		$inc: 100 / ($i - 1);
		$grd: '';

		@each $color in $colors {
			$c: index($colors, $color);
			@if $c == 1 {
				$grd: $grd + $color + ' 0%, ';
			}
			@else if $c == $i {
				$grd: $grd + $color + ' 100%';
			}
			@else {
				$grd: $grd + $color + ' ' + (($c - 1) * $inc) + '%, ';
			}
		}

		background: index($colors, 1); /* Old browsers */
		background: -moz-linear-gradient(right, unquote($grd)); /* FF3.6+ */
		// background: -webkit-gradient(linear, left, right, color-stop(0%,$start), color-stop(100%,$end)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(right, unquote($grd)); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(right, unquote($grd)); /* Opera 11.10+ */
		background: -ms-linear-gradient(right, unquote($grd)); /* IE10+ */
		background: linear-gradient(to right, unquote($grd)); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{first($colors)}', endColorstr='#{last($colors)}',GradientType=0 ); /* IE6-9 */
	} @else {
		background-color: $colors;
	}
}
