h1, h2, h3 {
    font-family: $f--heading;
	line-height: 1;
	padding: 0;
	margin: 0;
	font-weight: 700;
}

h1 {
	font-size: 6.8rem;
	
	@include b--sc {
		font-size: 9vw;
	}
}

h2 {
	font-size: 3.6rem;
	
	@include b--sc {
		font-size: 7.5vw;
	}
}

h3 {
	font-size: 3rem;
	
	@include b--sc {
		font-size: 6vw;
	}
}


a {
	text-decoration: none;
	transition: all 0.35s ease-out;
}

p, li, address, span, a {
	font-size: 1.8rem;
	line-height: 1.2;
	font-family: $f--body;
	margin: 0 0 1.8rem;
	padding: 0;
}

small, sup {
	font-size: 1.2rem;
	line-height: 1;
	font-family: $f--body;
}

sup {
	vertical-align: top;
}

button, .button {
	appearance: none;
	-webkit-appearance: none;
	border: 0;
	border-radius: 12px;
	font-size: 1.6rem;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.35s ease-out;
	color: $c--white;
	padding: 2vw 6vw;
	user-select: none;
	font-family: $f--body;
	margin: 0;

	&.pill {
		border-radius: 2rem;
	}

	&.linear {
		position: relative;
		overflow: hidden;
		z-index: 1;

		&:before {
			content: '';
			@include linearGradient($c--d-magenta, $c--b-blue);
			width: 100vh;
			height: 100%;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			transition: left 0.35s ease-out;
		}

		&:hover {
			&:before {
				left: 100%;
			}
		}
	}
}


.ghost {
	border-color: currentColor;
	background-color: transparent;
}



form {

	input, textarea {
		width: 100%;
		-webkit-appearance: none;
		appearance: none;
		@extend p;
		padding: 0.8rem 0;
		transition: border-color 0.35s ease-out;
		border: 0;
		border-radius: 0;
		border-bottom: 1px solid $c--dark-grey;
		font-family: $f--body;
		color: $c--v-dark-grey;
		background-color: transparent;

		&:focus {
			border-color: $c--b-blue;
		}
	}

	textarea {
		resize: none;
		height: 8rem;
	}

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
	}
}