.container {
	margin-left: auto;
	margin-right: auto;
    width: calc(100% - 34px);
	padding-left: 16px;
	padding-right: 16px;
	max-width: unquote($b--xl+'px');

	@include b--sm {
		width: 100%;
	}
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.flex {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: left;
}



.hide--md {
	@include b--md {
		display: none;
	}
}

.show--md {
	display: none;
	@include b--md {
		display: inherit;
	}
}

.show--sm {
	display: none;
	padding: 0;
	margin: 0;

	@include b--sm {
		display: inherit;
		padding: inherit;
		margin: inherit;
	}
}



.text--right {
	text-align: right;
}
.text--center {
	text-align: center;
}

.clearfix {
	clear: both;
}

.hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px; 
	width: 1px;
	margin: -1px; 
	padding: 0; 
	border: 0;
}


.noPad {
	padding: 0 !important;
}

.card {
    position: relative;
    background-color: $c--white;
    border-radius: 2rem;
    padding: 6vh 4vw;
}


.recharts-wrapper {
    max-width: 100%;
}
svg.recharts-surface {
    max-width: 100%;
}