$c--black: #000;
$c--white: #FFF;

$c--light-grey: #AAA;
$c--dark-grey: #999;
$c--v-dark-grey: #666;

$c--m-blue: #5C77BD;
$c--b-blue: #29ABE2;
$c--d-magenta: #93278F;
$c--v-yellow: #D9E021;

$c--error-red: #D8000C;


$f--heading: 'Nunito Sans', sans-serif;
$f--body: 'Nunito Sans', sans-serif;



// Grid
$g--cols: 12;


// Breakpoints
$b--xl: 1400;
$b--lg: 1200;
$b--md: 992;
$b--sm: 768;
$b--sc: 520;
$b--xs: 320;


@mixin b--xl {
    @media (max-width: #{$b--xl}px) {
        @content;
    }
}
@mixin b--lg {
    @media (max-width: #{$b--lg}px) {
        @content;
    }
}
@mixin b--md {
    @media (max-width: #{$b--md}px) {
        @content;
    }
}
@mixin b--sm {
    @media (max-width: #{$b--sm}px) {
        @content;
    }
}
@mixin b--sc {
    @media (max-width: #{$b--sc}px) {
        @content;
    }
}
@mixin b--xs {
    @media (max-width: #{$b--xs}px) {
        @content;
    }
}